<%- include('./templates/header-admin.ejs') %>

<%- include('./templates/nav-admin.ejs') %>

<main class="main-form">

    <h2> Crear entrada </h2>

    <form action="/dashboard-admin/add" method="POST" enctype="multipart/form-data" autocomplete="off">

        <input id="title" name="title" type="text" class="form-input" placeholder="Título de la entrada">

        <input id="extract" name="extract" type="text" class="form-input" placeholder="Extracto de la entrada">

        <textarea id="body" name="body" cols="30" rows="10" placeholder="Cuerpo de la entrada"></textarea>

        <input id="image" name="image" type="file">

        <input id="photo" name="photo" type="hidden" value="">

        <input type="submit" class="admin-submit" value="Guardar entrada">

    </form>

</main>

<%- include('./templates/footer-admin.ejs') %>