<%- include('./templates/header-admin.ejs') %>

<%- include('./templates/nav-admin.ejs') %>

<section class="grid-container">

    <h2 class="uppercase inline">Crear entrada:</h2>

    <form class="grid-item" action="/dashboard-admin/add" method="POST" enctype="multipart/form-data" autocomplete="off">

        <input id="title" name="title" class="item" type="text" placeholder="Título de la entrada">

        <input id="extract" name="extract" class="item" type="text" placeholder="Extracto de la entrada">

        <textarea id="body" name="body" class="item" cols="30" rows="10" placeholder="Cuerpo de la entrada"></textarea>

        <input id="image" name="image" type="file">

        <input id="photo" name="photo" type="hidden" value="">

        <input type="submit" class="boton pointer" value="Guardar entrada">

    </form>

</section>

<%- include('./templates/footer-admin.ejs') %>