<%- include('./templates/header.ejs') %>

<%- include('./templates/nav.ejs') %>

<main class="login">

    <h1> Login </h1>
      
    <form action="/auth" method="POST" autocomplete="off">

      <div class="input-parent">

      <label for="email"> E-mail: </label>
      <input id="email" name="email" type="text" placeholder="E-mail">

      </div>

      <div class="input-parent">

      <label for="password"> Password: </label>
      <input id="password" name="password" type="password" placeholder="Password">

      </div>

      <input type="submit" class="login-submit" value="Iniciar sesión">

      <% if (error.length> 0) { %>

        <div class="login-errors">

        <% error.forEach(item=> { %>

          <p> <%= item.msg %> </p>
    
        <% }) %>

        </div>
    
      <% } %>

    </form>

</main>

<%- include('./templates/footer.ejs') %>