<%- include('./templates/header.ejs') %>

<%- include('./templates/nav.ejs') %>

<main class="login">

    <h1> Login </h1>
      
    <form action="/auth" method="POST" autocomplete="off">

      <div class="input-parent">

      <label for="email"> E-mail: </label>
      <input id="email" name="email" type="text">

      </div>

      <div class="input-parent">

      <label for="password"> Password: </label>
      <input id="password" name="password" type="password">

      </div>

      <input type="submit" class="login-submit" value="Iniciar sesión">

    </form>

    <% if (error.length> 0) { %>

    <% error.forEach(item=> { %>

      <p> <%= item.msg %> </p>

    <% }) %>

    <% } %>

</main>

<%- include('./templates/footer.ejs') %>