<%- include('./templates/header.ejs') %>

<%- include('./templates/nav.ejs') %>

<section class="grid-container">

    <form class="grid-item" action="/auth" method="POST">

        <label for="email">E-mail:</label>
        <input id="email" name="email" type="text">
        
        <label for="password">Password:</label>
        <input id="password" name="password" type="password">

        <input type="submit" value="Iniciar sesión">

    </form>

    <% if (error.length > 0) { %>

        <% error.forEach(item => { %>

            <p> <%= item.msg %> </p>
         
        <% }) %>
     
    <% } %>

</section>

<%- include('./templates/footer.ejs') %>