@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,400;0,700;1,400&display=swap');

@import './layouts/header.css';
@import './layouts/searchBar.css';
@import './layouts/entriesCards.css';
@import './layouts/entriesForm.css';
@import './layouts/loginForm.css';
@import './layouts/pagination.css';

:root {

    --dark: #2a2c41;
    --medium: #acccd5;
    --light: #e6f0f0;
    --opposite: #ab4752;

}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
    padding-top: 100px;
    background-color: var(--medium);
}

img {
    width: 100%;
}



/***** MEDIA QUERY 992PX START *****/

@media screen and (max-width:992px) {

    body{
        padding-top: 80px;
    }

} /*992PX END*/