        <div class="pagination">
            <a href="#"> << </a>
            <a href="#"> 1 </a>
            <a href="#"> >> </a>
        </div>

        <footer>
            <div class="footer"></div>
        </footer>

    </body>

    <script src="./js/main.js"></script>
</html>