<header class="header">

    <nav class="navbar">

        <a href="/" class="logo"> El Blog </a>

        <button class="nav-toggle" aria-label="Open menu">

            <i id="btn-bars" class="fa-solid fa-bars"></i>

        </button>

        <ul class="nav-menu">

            <% if (token != '' ) { %>

                <li class="nav-menu-item">

                    <a href="/dashboard-admin" class="nav-menu-link"> Dashboard </a>

                </li>

                <li class="nav-menu-item">

                    <a id="logout" href="/logout" class="nav-menu-link"> Logout </a>

                </li>

            <% } else { %>

                <li class="nav-menu-item">

                    <a href="/login" class="nav-menu-link"> Login </a>

                </li>

            <% } %>

        </ul>

    </nav>

</header>