<section class="search-bar">

    <form action="/search" method="GET" autocomplete="off">

        <input id="search" name="search" class="search-bar-text" type="text" placeholder="Buscador de entradas">

        <input type="submit" id="btn-search" class="search-bar-submit"  value="Buscar">

    </form>

</section>