<header class="header">

    <nav class="nav">
        <a href="/dashboard-admin" class="logo">El Blog</a>
        
        <button class="nav-toggle" aria-label="Open menu">
            <i id="btn-bars" class="fa-solid fa-bars"></i>
        </button>
        <ul class="nav-menu">
            <li class="nav-menu-item">
                <a href="/" class="nav-menu-link">Home</a>
            </li>
            <li class="nav-menu-item">
                <a href="#" class="nav-menu-link">Log In</a>
            </li>
        </ul>
    </nav>

</header>