
.grid-container{
    display: grid;
    grid-template-columns: 1fr;
    max-width: 992px;
    padding: 20px;
    grid-gap: 40px;
    margin: 0 auto;
}

.grid-item{
    padding: 10px;
    border: 1px solid var(--light);
    border-radius: 5px;
}

.grid-item > *{
    padding: 5px;
}

img {
    min-width: 80%;
    max-width: 90%;
    border-radius: 10px;
}