
.main-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    width: 100%;

    & > * {
        width: 90%;
        margin: 20px auto;
    }

    & h2 {
        text-align: center;
        font-size: 2rem;
    }

    & form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        max-width: 992px;

        & > * {
            width: 100%;
            margin: 10px auto;
        }

        .form-input, & textarea {
            padding: 10px;
            border: 1px solid var(--grey);
            border-radius: 10px;
        }

        .admin-submit {
            max-width: 200px;
            text-align: center;
            padding: 10px;
            border: none;
            border-radius: 10px;
            color: var(--white);
            background-color: var(--accent);
        }
    }
}